.projects{
    padding-top: 3rem;

}

.project-card{
    transition: all 0.2s;
}

.project-card:hover{
    transform: scale(1.1, 1.1);
}

@media (max-width: 780px) {
  .project-card{
      transition: none;
  }
  .project-card:hover{
      transform: none;
  }
}